*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.DivPai{
    background-color: lightgray;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
}

img{
    display: flex;
    width: 200px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.slider img.ativo{
    opacity: 1;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img:not(:first-child){
    position: absolute;

}

button{
    font-size: 16px;
    padding: 12px;
}