body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    box-sizing: border-box;
}

div{
    padding: 1rem 2rem;
    text-align: center;
}

button{
    font-size: 1rem;
    padding: .5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}