*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(110deg,rgba(235, 61, 211, 1) 0%, rgba(159, 75, 219, 1) 50%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #ffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.35);
}

.container h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}


.input-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span-erro{
    color: red;
    font-size: .8rem;
    margin: .2rem 0rem;
    display:none;
}


input{
    width: 100%;
    height: 30px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 9px;
    border: 2px solid lightgray;
    outline: none;
}

button{
    width: 100%;
    margin: 2rem 0rem;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 12px;
    background: linear-gradient(90deg,rgba(58, 170, 214, 1) 0%, rgba(63, 242, 138, 1) 50%);
    border: none;
    color: #ffff;
    cursor: pointer;

}

button:hover{
        background: linear-gradient(90deg,rgb(43, 126, 158) 0%, rgb(54, 204, 117) 50%);
}
